@model List<Animal>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Animales</h1>
    </div>

    <div class="card">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">animalID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Género</th>
                    <th scope="col">Fecha Llegada</th>
                    <th scope="col">Hábitat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AnimalID</td>
                        <td>@item.Nombre</td>
                        <td>@item.Edad</td>
                        <td>@item.Genero</td>
                        <td>@item.FechaLlegada</td>
                        <td>@item.Habitat</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>